PORT=5000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres.umaxgqmatgpgcmmmpwsm:LusunguMhango@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
DB_SSL=true
ADMIN_API_KEY=maneb-admin


